@model Team11_SSIS_ADProject.SSIS.ViewModels.DepartmentViewModel

    @{
        ViewBag.Title = "Departments";
    }
 
<div class="box box-primary">
    <div class="box-header with-border">
        <h2>Manage Departments</h2>
        <p>
            @Html.ActionLink("Add New", "Create", "Department", null, new { @class = "btn btn-primary" })
        </p>
    </div>

    <div class="box-body">

        <table class="datatable table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Department Code</th>
                    <th>Department Name</th>
                    <th>Contact Name</th>
                    <th>Phone Number</th>
                    <th>Fax Number</th>
                    <th>Department Head Name</th>
                    <th>Department Representative</th>
                    <th>Department Collection Point</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model.Departments)
                {
                    <tr>
                        <td>@department.DepartmentCode</td>
                        <td>@department.DepartmentName</td>
                        <td>@department.DepartmentContactName</td>
                        <td>@department.DepartmentPhone</td>
                        <td>@department.DepartmentFax</td>
                        <td>@department.DepartmentHeadName</td>
                        <td>@department.DepartmentRepresentative</td>
                        <td>@department.DepartmentCollectionPoint</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Department", new { id = department.Id }, new { @class = "btn btn-primary" })</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Department", new { id = department.Id }, new { @class = "btn btn-danger" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


