    <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <!-- Store View Start -->
            @if (User.IsInRole("StoreClerk") || User.IsInRole("StoreManager") || User.IsInRole("StoreSupervisor"))
            {
                <!-- Store Admin-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-shopping-basket"></i> <span>Store Admin</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ItemCategory")"><i class="fa fa-circle-o"></i>Item Categories</a></li>
                        <li><a href="@Url.Action("Index", "Item")"><i class="fa fa-circle-o"></i>Item List</a></li>
                        <li><a href="@Url.Action("Index", "Supplier")"><i class="fa fa-circle-o"></i>Supplier List</a></li>
                        <li><a href="@Url.Action("Index", "StockAdjustment")"><i class="fa fa-circle-o"></i>Stock Adjustment</a></li>
                    </ul>
                </li>

                <!-- Store Disbursement-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i> <span>Disbursement</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Disbursement")"><i class="fa fa-circle-o"></i>Retrieval</a></li>
                        <li><a href="@Url.Action("StoreCollection", "Disbursement")"><i class="fa fa-circle-o"></i>Collection</a></li>
                    </ul>
                </li>

                <!-- Purchase Orders -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tags"></i> <span>Purchase Order</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "PurchaseOrder")"><i class="fa fa-circle-o"></i>List All</a></li>
                    </ul>
                </li>

                <!--Reports -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tags"></i> <span>Reports</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Requisition", "Report")"><i class="fa fa-circle-o"></i>Requisitions</a></li>
                        <li><a href="@Url.Action("PurchaseOrder", "Report")"><i class="fa fa-circle-o"></i>Purchase Orders</a></li>
                    </ul>
                </li>
            }
            <!-- Store View End -->
            <!-- Department View Start -->
            @if (User.IsInRole("Employee") || User.IsInRole("DepartmentHead") || User.IsInRole("Representative"))
            {

                <!--Department Requisitions-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-thumbs-o-up"></i> <span>Requisition</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Requisition")"><i class="fa fa-circle-o"></i>Requisitions</a></li>
                    </ul>
                </li>

                if (User.IsInRole("Representative"))
                {
                    <!--Department Collections-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i> <span>Collection</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("DepartmentCollection", "Disbursement")"><i class="fa fa-circle-o"></i>Collection</a></li>
                        </ul>
                    </li>
                }

                if (User.IsInRole("DepartmentHead"))
                {
                    <!--Department Admin-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-briefcase"></i> <span>Administration</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Admin", "Department")"><i class="fa fa-circle-o"></i>Manage Admin</a></li>
                        </ul>
                    </li>


                    <!--Department Delegation-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i> <span>Delegation</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Delegation", "Department")"><i class="fa fa-circle-o"></i>Manage Delegations</a></li>
                        </ul>
                    </li>
                }
            }
            <!-- Department View End -->
            @*<li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
