@model Team11_SSIS_ADProject.SSIS.ViewModels.ItemViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Items";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2>Manage Items</h2>
        <p>
            @Html.ActionLink("Add New", "Create", "Item", null, new { @class = "btn btn-primary" })
        </p>
    </div>

    <div class="box-body">
        <table class="datatable table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Item Number</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Item Reorder Level</th>
                    <th>Item Reorder Quantity</th>
                    <th>Unit of Measure</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.ImagePath)" alt="@item.ItemDescription" width="100px" height="100px" />
                        </td>
                        <td>@item.ItemNumber</td>
                        <td>@item.ItemDescription</td>
                        <td>@item.ItemCategory.Name</td>
                        <td>@item.ItemReorderLevel</td>
                        <td>@item.ItemReorderQty</td>
                        <td>@item.ItemUnit</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Item", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Item", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                        <td>
                            @Html.ActionLink("Manage Suppliers", "ManageSuppliers", "Item", new { id = item.Id}, new { @class = "btn btn-warning"})
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



